@import url(http://fonts.googleapis.com/css?family=Monoton);

html, body {height: 100%; margin: 0;}

.brush, .swatch { 
  width: 3vw;
  height: 3vw;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
}

.brush {
  background: #1B4370;
}

.swatch {
  background-color: black;
  cursor: pointer;
}

.square {
  float: left;
  width: 1%;
  height: 1%;
  background: #E7E5DB;
  margin: 0px;
}

h1 {
  font-family: Monoton;
  font-size: 3vw;
  text-align: center;
  margin: 0;
}

.controls {
  text-align: center;
  padding: 10px;
}

.color {
  border: none;
}

.color:focus{
  outline: 0;
}

body {
  background-image: url('ps_neutral.png');
}